Repository aimeiyijia/uni-vue3-ts-vantweapp-vite: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

chore：调整些描述信息
  FAQ.md
  package.json
  pnpm-lock.yaml
  src/pages/index/index.vue
  unocss.config.ts
Due: eslint --fix, stylelint --fix

chore：增加uni-router插件
  .eslintrc.js
  build/json.ts
  build/read-pages.ts
  package.json
  pnpm-lock.yaml
  src/env.d.ts
  src/global.d.ts
  src/main.ts
  src/pages.json
  src/pages/user/login/index.vue
  src/pages/user/userinfo/index.vue
  src/plugins/uni-router/H5/buildRouter.ts
  src/plugins/uni-router/H5/patch.ts
  src/plugins/uni-router/H5/proxyHook.ts
  src/plugins/uni-router/app/appPatch.ts
  src/plugins/uni-router/applets/appletPatch.ts
  src/plugins/uni-router/component/link.vue
  src/plugins/uni-router/helpers/config.ts
  src/plugins/uni-router/helpers/createRouteMap.ts
  src/plugins/uni-router/helpers/lifeCycle.ts
  src/plugins/uni-router/helpers/mixins.ts
  src/plugins/uni-router/helpers/utils.ts
  src/plugins/uni-router/helpers/warn.ts
  src/plugins/uni-router/index.ts
  src/plugins/uni-router/options/base.ts
  src/plugins/uni-router/options/config.ts
  src/plugins/uni-router/public/beforeProxyHook.ts
  src/plugins/uni-router/public/hooks.ts
  src/plugins/uni-router/public/methods.ts
  src/plugins/uni-router/public/page.ts
  src/plugins/uni-router/public/query.ts
  src/plugins/uni-router/public/rewrite.ts
  src/plugins/uni-router/public/router.ts
  src/plugins/uni-router/public/uniOrigin.ts
  src/router/index.ts
  tsconfig.json
  vite.config.ts
Due: eslint --fix, stylelint --fix

chore：uni-router插件增加useRouter useRoutr功能
  src/pages/index/index.vue
  src/pages/test/test.vue
  src/plugins/uni-router/helpers/utils.ts
  src/plugins/uni-router/index.ts
  src/plugins/uni-router/options/base.ts
  src/plugins/uni-router/public/injectionSymbols.ts
  src/plugins/uni-router/public/methods.ts
  src/plugins/uni-router/public/router.ts
  src/plugins/uni-router/public/uniOrigin.ts
  src/plugins/uni-router/public/useApi.ts
  src/router/index.ts
Due: eslint --fix, stylelint --fix

chore：调整scss校验规则
  .stylelintrc.js
  package.json
  pnpm-lock.yaml
  src/pages.json
  src/pages/user/login/index.vue
Due: eslint --fix, stylelint --fix

Update README.md
  README.md
Due: none

chore：去除uni-simple-router，改用改造过的
  package.json
  pnpm-lock.yaml
Due: none

chore：调整代码规范
  .eslintrc.js
  .prettierrc
  prettier.config.js
  src/pages/index/index.vue
  vite.config.ts
Due: eslint --fix, stylelint --fix

chore(样式代码校验): 调整样式代码校验
  .stylelintrc.js
  renovate.json
  src/pages/user/login/index.vue
  src/styles/base.scss
Due: eslint --fix, stylelint --fix

feat(init): 调整index.html中的样式代码
  .husky/commit-msg
  .husky/pre-commit
  FAQ.md
  index.html
Due: none

feat: 调整代码提交规范
  .cz-config.js
  commitlint.config.js
  package.json
  pnpm-lock.yaml
  preset-rem-to-rpx.ts
  unocss.config.ts
Due: eslint --fix

chore: 移除无用代码
  .eslintrc-auto-import-types.json
  build/read-pages.ts
  package.json
  pnpm-lock.yaml
  src/@types/api.d.ts
  src/@types/global.d.ts
  src/@types/store.d.ts
  src/App.vue
  src/api/apiTest.ts
  src/components.d.ts
  src/components/pullList.vue
  src/config/app.ts
  src/config/commonParams.ts
  src/config/env.ts
  src/config/serviceLoading.ts
  src/global.d.ts
  src/helper/pinia-auto-refs.ts
  src/hooks/useInit.ts
  src/pages.json
  src/pages/index/index.vue
  src/pages/profile/profile.vue
  src/pages/test/test.vue
  src/store/app.ts
  src/store/setup.ts
  src/store/test.ts
  src/store/user.ts
  src/utils/index.ts
  src/utils/request.ts
  src/utils/router.ts
  src/utils/shared.ts
  src/utils/urlMap.ts
  vite.config.ts
Due: eslint --fix, stylelint --fix

chore: 移除@vant/weapp
  package.json
  pnpm-lock.yaml
Due: none

chore: 调整目录结构
  package.json
  pnpm-lock.yaml
  src/global.d.ts
  src/http/encrypt/index.ts
  src/http/hooks/utils.ts
  src/http/request/index.ts
  src/http/request/instance.ts
  src/http/request/interceptors/request.ts
  src/http/request/interceptors/response.ts
  src/http/white/whiteList.ts
  src/pages.json
  tsconfig.json
  types/auto-imports.d.ts
  types/components.d.ts
  types/env.d.ts
  types/global.d.ts
  types/shims.uni.d.ts
  vite.config.ts
Due: eslint --fix

chore: 调整类型生命
  types/env.d.ts
  types/global.d.ts
Due: eslint --fix

chore: 调整基础结构
  .env.development
  .env.production
  .eslintrc-auto-import-types.json
  README.md
  build/route/index.ts
  build/route/json.ts
  build/route/read-pages.ts
  package.json
  src/App.vue
  src/http/hooks/index.ts
  src/router/index.ts
  vite.config.ts
Due: eslint --fix, stylelint --fix

chore: 调整http store
  .env.development
  .env.test
  package.json
  pnpm-lock.yaml
  src/http/encrypt/constant.ts
  src/http/encrypt/index.ts
  src/http/hooks/index.ts
  src/http/hooks/utils.ts
  src/http/request/index.ts
  src/http/request/instance.ts
  src/http/request/interceptors/index.ts
  src/http/request/interceptors/request.ts
  src/http/request/interceptors/response.ts
  src/http/white/index.ts
  src/http/white/noencrypt.ts
  src/store/index.ts
  src/store/user.ts
  types/env.d.ts
Due: eslint --fix

chore: 更新依赖
  .env.development
  .eslintrc-auto-import.json
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/api/user.ts
  src/http/encrypt/index.ts
  src/http/hooks/index.ts
  src/http/request/index.ts
  src/http/request/interceptors/index.ts
  src/pages/index/index.vue
  types/auto-imports.d.ts
Due: eslint --fix, stylelint --fix

chore: 调unocss 预设
  package.json
  pnpm-lock.yaml
  src/pages/index/index.vue
  src/styles/variable.scss
  types/components.d.ts
  unocss.config.ts
Due: eslint --fix, stylelint --fix

chore: 增加小程序所用的组件
  src/pages.json
  src/pages/index/index.vue
Due: eslint --fix, stylelint --fix

feat: 迁移登录页面
  src/pages/user/login/index.vue
Due: eslint --fix, stylelint --fix

feat: 增加PVantField组件
  src/components/p-vant/p-van-field/index.vue
  src/pages.json
  src/pages/index/index.vue
  types/components.d.ts
Due: eslint --fix, stylelint --fix

chore: 调整PVantField插槽实现
  .eslintrc.js
  src/components/p-vant/p-van-field/index.vue
  src/pages/index/index.vue
Due: eslint --fix, stylelint --fix

chore: 调整登录页label标签显示问题
  .stylelintrc.js
  src/components/p-vant/p-van-field/index.vue
  src/pages.json
  src/pages/user/login/index.vue
Due: eslint --fix, stylelint --fix

feat: 调整首页样式
  src/pages/user/login/index.vue
Due: eslint --fix, stylelint --fix

feat: 增加列表测试页面
  .prettierrc
  .stylelintignore
  src/pages.json
  src/pages/index/index.vue
  src/pages/list/index.vue
  src/styles/base.scss
  src/styles/index.scss
  src/styles/wx-reset.scss
  src/wxcomponents/customPullDown/index.js
  src/wxcomponents/customPullDown/index.json
  src/wxcomponents/customPullDown/index.wxml
  src/wxcomponents/customPullDown/index.wxss
  src/wxcomponents/customPullDown/pullDown.wxs
Due: eslint --fix, stylelint --fix

feat: 调整首页样式
  src/pages/list/index.vue
Due: eslint --fix, stylelint --fix

feat: 增加了各种测试页面
  .stylelintignore
  .stylelintrc.js
  FAQ.md
  src/assets/images/channel/icon_channel-info.png
  src/assets/images/channel/icon_joint-matters.png
  src/assets/images/channel/icon_knowledge.png
  src/assets/images/channel/icon_meeting.png
  src/components/ImgTip/index.vue
  src/components/NavList/index.vue
  src/components/p-vant/p-van-field/index.vue
  src/pages.json
  src/pages/detail/field.vue
  src/pages/detail/index.vue
  src/pages/list/index.vue
  src/pages/tabBars/channel/index.vue
  src/pages/tabBars/mine/index.vue
  src/pages/user/login/index.vue
  src/static/images/tabbar/channel.png
  src/static/images/tabbar/channel_active.png
  src/static/images/tabbar/chat.png
  src/static/images/tabbar/chat_active.png
  src/static/images/tabbar/home.png
  src/static/images/tabbar/home_active.png
  src/static/images/tabbar/mine.png
  src/static/images/tabbar/mine_active.png
  src/styles/base.scss
  src/styles/variable.scss
  src/wxcomponents/customNavBar/index.js
  src/wxcomponents/customNavBar/index.json
  src/wxcomponents/customNavBar/index.wxml
  src/wxcomponents/customNavBar/index.wxss
  src/wxcomponents/customPullDown/index.js
  src/wxcomponents/customPullDown/index.wxml
  src/wxcomponents/customPullDown/index.wxss
  types/components.d.ts
  vite.config.ts
Due: eslint --fix, stylelint --fix

feat: 调整首页样式
  src/assets/images/channel/channel-top-bg.png
  src/pages.json
  src/pages/tabBars/channel/index.vue
Due: eslint --fix, stylelint --fix

chore: 增加表单组件
  .eslintrc.js
  package.json
  pnpm-lock.yaml
  src/assets/images/mine/icon_avatar.png
  src/components/PVant/PVantCell/index.vue
  src/components/PVant/PVantField/index.vue
  src/components/VantForm/components/VantFieldPicker/index.vue
  src/components/VantForm/index.vue
  src/components/p-vant/p-van-field/index.vue
  src/pages.json
  src/pages/form/index.vue
  src/pages/index/index.vue
  src/pages/tabBars/mine/index.vue
  src/pages/user/change-password/index.vue
  src/pages/user/login/index.vue
  src/pages/user/user-info/index.vue
  src/pages/user/userinfo/index.vue
  src/utils/transform.ts
  types/components.d.ts
  unocss.config.ts
Due: eslint --fix, stylelint --fix

chore: 完成VantFieldPicker
  src/components/PVant/PVantField/index.vue
  src/components/VantForm/components/VantFieldPicker/index.vue
  src/components/VantForm/index.vue
  src/pages/form/index.vue
  src/wxcomponents/vant/field/index.js
Due: eslint --fix, stylelint --fix

feat: 调整响应式实现逻辑
  src/components/VantForm/components/VantFieldPicker/index.vue
  src/components/VantForm/index.vue
  src/pages/form/index.vue
Due: eslint --fix, stylelint --fix

chore: 调整了一些注释
  src/pages/form/index.vue
Due: eslint --fix, stylelint --fix

feat: 增加各表单项基础文件
  package.json
  pnpm-lock.yaml
  src/components/PVant/PVantRadio/index.vue
  src/components/PVant/PVantRate/index.vue
  src/components/PVant/PVantSlider/index.vue
  src/components/PVant/PVantStepper/index.vue
  src/components/PVant/PVantSwitch/index.vue
  src/components/VantForm/components/VantFieldCalendar/index.vue
  src/components/VantForm/index.vue
  src/pages/form/index.vue
  types/components.d.ts
Due: eslint --fix, stylelint --fix

feat: 完成登录页面
  .env.development
  package.json
  pnpm-lock.yaml
  src/api/user.ts
  src/components/PVant/PVantCheckbox/index.vue
  src/http/hooks/index.ts
  src/http/request/index.ts
  src/http/request/interceptors/index.ts
  src/http/white/index.ts
  src/pages/user/login/index.vue
  src/store/user.ts
  src/styles/variable.scss
  types/components.d.ts
Due: eslint --fix, stylelint --fix

feat: 完善登录页面
  package.json
  pnpm-lock.yaml
  src/http/hooks/index.ts
  src/pages/user/login/index.vue
  src/store/user.ts
Due: eslint --fix, stylelint --fix

feat: 增加找回密码页面
  src/components/VantForm/index.vue
  src/manifest.json
  src/pages.json
  src/pages/tabBars/mine/index.vue
  src/pages/user/login/index.vue
  src/pages/user/retrieve-password/index.vue
  src/styles/base.scss
  src/styles/form.scss
  src/styles/index.scss
  src/styles/variable.scss
Due: eslint --fix, stylelint --fix

chore: 增加表单校验
  src/components/PVant/PVantField/index.vue
  src/components/VantForm/index.vue
  src/pages/user/retrieve-password/index.vue
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  stylelint --fix: any of: src/**/*.{css,scss,vue}
